.body{ height: 100vh;
       margin: 0;
}

.animal {
        width: 100%;
        display: none;
}

#gameover {
       height: 100vh;
       position: absolute;
       top: 0;
       background-color: blue;
       color: white;
       text-align: center;
       width: 100vw;
       display: none;
     }
     
#endscore{
  font-family: sans-serif;
  font-size: ;
}
